html {
  font: normal 100%/1.5 "Libre Baskerville", serif;
  color: #222;
}

.max-length {
  max-width: 42em;
}

.book-ends {
  background-color: #1e7c74;
  color: #fff;
}

.chapter-ends {
  background-color: #259f95;
  border: 1px solid #1e7c74;
  color: #fff;
}

.chapter-name {
  border-top: 0;
  border-radius: 0 0 6px 6px;
}

.old-book-style p {
  margin: 0;
  text-indent: 1.3em;
}

.old-book-style :first-child {
  text-indent: 0;
}

.old-book-style :first-child::first-line {
  color: #1e7c74;
  font-style: italic;
}

.inset-img {
  border: 1px solid #259f95;
  border-radius: 6px;
}

.chapter-btn {
  background-color: transparent;
  border: 0;
  color: #fff;
}

.chapter-btn:hover,
.chapter-btn:focus {
  background-color: #1e7c74;
}

.chapter-copyright {
  border-bottom: 0;
  border-radius: 6px 6px 0 0;
}

@media print {

  /* stylelint-disable declaration-no-important */

  .no-print {
    display: none !important;
    visibility: hidden !important;
  }

  .inset-img {
    border-color: #000;
  }

  .print-only,
  .force-print {
    display: block !important;
    visibility: visible !important;
  }

  /* stylelint-enable */

  .visually-hidden.force-print {
    height: auto;
    margin: 0;
    overflow: visible;
    padding: 0;
    position: static;
    width: auto;
    border: 0;
    clip: initial;
    clip-path: none;
  }

  /*
   * (c) Fabien Sa || MIT License
   *     http://bafs.github.io/Gutenberg/
   */

  table,
  blockquote,
  pre,
  code,
  figure,
  li,
  hr,
  ul,
  ol,
  a,
  tr {
    page-break-inside: avoid;
  }

  h1, h2, h3, h4, h5, h6, p, a {
    orphans: 3;
    widows: 3;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
    page-break-inside: avoid;
  }

  h1 + p,
  h2 + p,
  h3 + p,
  h4 + p,
  h5 + p,
  h6 + p {
    page-break-before: avoid;
  }

  img {
    page-break-after: auto;
    page-break-before: auto;
    page-break-inside: avoid;
  }

  /* stylelint-disable declaration-no-important */

  pre {
    white-space: pre-wrap !important;
    word-wrap: break-word;
  }

  /* stylelint-enable */

  /* End Gutenberg code */

  /*
   * (c) HTML5 Boilerplate || MIT License
   *     https://html5boilerplate.com/
   */

  /* stylelint-disable declaration-no-important */

  *, *::before, *::after, *::first-letter, *::first-line {
    background: none transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* stylelint-enable */

  a, a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]::after,
  a[href^="javascript:"]::after,
  a.no-print-href::after,
  a.href-no-print::after {
    content: "";
  }

  thead {
    display: table-header-group;
  }

  /* End HTML5 Boilerplate code */

}
